@charset "UTF-8";
/* stylelint-disable color-function-notation */
:root {
  --papyrus-font-size-root: 15px;
  --papyrus-font-size: 1em;
  --papyrus-font-family: consolas, monaco, "Andale Mono", "Ubuntu Mono", monospace;
  --papyrus-line-height: 1.7;
  --papyrus-height: auto;
  --papyrus-width: 100%;
  --papyrus-selection-bg: 255, 255, 255;
  --papyrus-selection-alpha: 0.3;
  --papyrus-code-color: #fafafa;
  --papyrus-code-padding-y: 0.3em;
  --papyrus-code-padding-x: 0.5em;
  --papyrus-code-bg: #181b20;
  --papyrus-code-inline-bg: #eeebeb;
  --papyrus-code-border-radius: 0.5em;
  --papyrus-code-caret-color: #ffffff;
  --papyrus-scrollbar-width: 2px;
  --papyrus-scrollbar-track: #181b20;
  --papyrus-scrollbar-bg: #384355;
  --papyrus-scrollbar-thumb: #384355;
  --papyrus-invisible-space-color: #42454D;
  --papyrus-invisible-tab-color: #808080;
  --papyrus-invisible-lf-color: #808080;
  --papyrus-invisible-cr-color: #808080;
  --papyrus-invisible-crlf-color: #808080;
  --papyrus-line-number-width: 3.3em;
  --papyrus-line-number-color: #363d49;
  --papyrus-line-fence-color: #363d49;
  --papyrus-line-fence-width: 0.01em;
  --papyrus-line-scroll-left: 0;
  --papyrus-line-highlight-alpha: 0.05;
  --papyrus-line-highlight-bg: 171, 190, 206;
  --papyrus-line-highlight-number: #fafafa;
}

code.inline {
  padding: 0.1em;
  white-space: normal;
  background: var(--papyrus-code-inline-bg);
  border-radius: 0.3em;
}

@media print {
  code[class*=language-],
  pre[class*=language-] {
    text-shadow: none;
  }
}
/* -------------------------------------------- */
/* EDITOR                                       */
/* -------------------------------------------- */
pre.papyrus {
  position: relative !important;
  width: var(--papyrus-width);
  height: var(--papyrus-height);
  font-size: var(--papyrus-font-size-root);
  background: var(--papyrus-code-bg);
  border-radius: var(--papyrus-code-border-radius);
  /* LINE FENCE --------------------------------- */
  /* CODE ELEMENT ------------------------------- */
}
pre.papyrus *::selection {
  text-shadow: none;
  background-color: rgba(var(--papyrus-selection-bg), var(--papyrus-selection-alpha));
}
pre.papyrus.no-fence::before {
  border: none;
}
pre.papyrus::before {
  position: absolute;
  top: 0;
  bottom: 0;
  left: var(--papyrus-line-number-width);
  display: block;
  height: 100%;
  background-color: var(--papyrus-code-bg);
  border-right: var(--papyrus-line-fence-width) solid var(--papyrus-line-fence-color);
  content: "";
}
pre.papyrus textarea.editor {
  color: transparent !important;
  background: transparent !important;
  border: none !important;
  outline: none !important;
  resize: none !important;
  caret-color: var(--papyrus-code-caret-color);
}
pre.papyrus code[class*=language-] {
  color: var(--papyrus-code-color);
  /* -------------------------------------------- */
  /* LINE NUMBERS                                 */
  /* -------------------------------------------- */
}
pre.papyrus code[class*=language-].lines,
pre.papyrus code[class*=language-] + textarea.editor {
  padding-left: calc(var(--papyrus-line-number-width) + var(--papyrus-code-padding-x));
}
pre.papyrus code[class*=language-] > .papyrus-loc-limit {
  display: flex;
  align-items: center;
  justify-content: center;
}
pre.papyrus code[class*=language-] > .line-numbers {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 200;
  display: block;
  width: 100%;
  height: 100%;
  padding-top: var(--papyrus-code-padding-y);
  padding-bottom: var(--papyrus-code-padding-y);
  user-select: none;
  pointer-events: none;
}
pre.papyrus code[class*=language-] > .line-numbers span.ln {
  z-index: 100;
  display: flex;
  padding-left: calc(var(--papyrus-line-number-width) / 5);
  line-height: var(--papyrus-line-height);
  counter-increment: linenumber;
}
pre.papyrus code[class*=language-] > .line-numbers span.ln.highlight {
  background-color: rgba(var(--papyrus-line-highlight-bg), var(--papyrus-line-highlight-alpha));
}
pre.papyrus code[class*=language-] > .line-numbers span.ln.highlight::before {
  color: var(--papyrus-line-highlight-number);
  transition: color 0.1s ease-in;
}
pre.papyrus code[class*=language-] > .line-numbers span.ln::before {
  display: block;
  width: calc(var(--papyrus-line-number-width) / 2);
  color: var(--papyrus-line-number-color);
  text-align: right;
  content: counter(linenumber);
}
pre.papyrus textarea.editor,
pre.papyrus code[class*=language-] {
  position: absolute !important;
  z-index: 100;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: var(--papyrus-code-padding-y) calc(var(--papyrus-code-padding-x));
  overflow: auto;
  font-size: var(--papyrus-font-size);
  font-family: var(--papyrus-font-family);
  line-height: var(--papyrus-line-height);
  white-space: pre;
  text-align: left;
  word-wrap: normal;
  word-break: normal;
  word-spacing: normal;
  tab-size: 2;
  hyphens: none;
  inset: 0;
  /* SCROLLBARS --------------------------------- */
}
pre.papyrus textarea.editor.auto-height,
pre.papyrus code[class*=language-].auto-height {
  position: relative !important;
  display: block;
}
pre.papyrus textarea.editor::-webkit-scrollbar-track,
pre.papyrus code[class*=language-]::-webkit-scrollbar-track {
  background-color: var(--papyrus-scrollbar-track);
}
pre.papyrus textarea.editor::-webkit-scrollbar,
pre.papyrus code[class*=language-]::-webkit-scrollbar {
  width: var(--papyrus-scrollbar-width);
  height: var(--papyrus-scrollbar-width);
  background-color: var(--papyrus-scrollbar-bg);
}
pre.papyrus textarea.editor::-webkit-scrollbar-thumb,
pre.papyrus code[class*=language-]::-webkit-scrollbar-thumb {
  background-color: var(--papyrus-scrollbar-thumb);
}

/* -------------------------------------------- */
/* BLOCKS                                       */
/* -------------------------------------------- */
:not(pre) > code[class*=language-] {
  width: 100%;
  padding: 0.1em;
  white-space: normal;
  background: var(--papyrus-code-bg);
  border-radius: 0.3em;
}

/* -------------------------------------------- */
/* LINE NUMBERS                                 */
/* -------------------------------------------- */
.token {
  /* -------------------------------------------- */
  /* INVISIBLES                                   */
  /* -------------------------------------------- */
}
.token.tab:not(:empty), .token.cr, .token.lf, .token.space {
  position: relative;
}
.token.tab:not(:empty)::before, .token.cr::before, .token.lf::before, .token.space::before {
  position: absolute;
  opacity: 1;
}
.token.tab:not(:empty)::before {
  color: var(--papyrus-invisible-tab-color);
  content: "⇥";
}
.token.cr::before {
  color: var(--papyrus-invisible-cr-color);
  content: "␍";
}
.token.crlf::before {
  color: var(--papyrus-invisible-crlf-color);
  content: "␍␊";
}
.token.lf::before {
  color: var(--papyrus-invisible-lf-color);
  content: "␊";
}
.token.space::before {
  color: var(--papyrus-invisible-space-color);
  content: "·";
}

/* stylelint-disable color-hex-length */
:root {
  --papyrus-html-text-content: #FAFAFA;
  --papyrus-html-doctype: #FAFAFA;
  --papyrus-html-delimiter: #BECAFF;
  --papyrus-html-tag-name: #FF93BC;
  --papyrus-html-equals: #FF93BC;
  --papyrus-html-attr-name: #91EBC2;
  --papyrus-html-attr-value: #FFF9A6;
  --papyrus-html-comment: #888888;
}

code.language-markup .token.doctype-tag,
code.language-html .token.doctype-tag {
  color: var(--papyrus-html-doctype);
}
code.language-markup .token.doctype .token.name,
code.language-html .token.doctype .token.name {
  color: var(--papyrus-html-delimiter);
}
code.language-markup .token.name,
code.language-html .token.name {
  color: var(--papyrus-html-tag-name);
}
code.language-markup .token.comment,
code.language-html .token.comment {
  color: var(--papyrus-html-comment);
}
code.language-markup .token.punctuation,
code.language-html .token.punctuation {
  color: var(--papyrus-html-delimiter);
}
code.language-markup .token.tag,
code.language-html .token.tag {
  color: var(--papyrus-html-tag-name);
}
code.language-markup .token.attr-equals,
code.language-html .token.attr-equals {
  color: var(--papyrus-html-equals);
}
code.language-markup .token.attr-name,
code.language-html .token.attr-name {
  color: var(--papyrus-html-attr-name);
}
code.language-markup .token.attr-value,
code.language-html .token.attr-value {
  color: var(--papyrus-html-attr-value);
}

:root {
  /* -------------------------------------------- */
  /* LIQUID TOKENS                                */
  /* -------------------------------------------- */
  --papyrus-liquid-fallback: #fafafa;
  --papyrus-liquid-delimiters: #fafafa;
  --papyrus-liquid-tag: #E91E63;
  --papyrus-liquid-output: #81d4fa;
  --papyrus-liquid-boolean: #ff80f4;
  --papyrus-liquid-number: #935eff;
  --papyrus-liquid-punctuation: #E91E63;
  --papyrus-liquid-operator: #E91E63;
  --papyrus-liquid-parameter: #ff953c;
  --papyrus-liquid-object-name: #81d4fa;
  --papyrus-liquid-object-prop: #fafafa;
  --papyrus-liquid-filter-name: #3defb9;
  --papyrus-liquid-string: #FFF9A6;
  --papyrus-liquid-comment: #888888;
  /* -------------------------------------------- */
  /* LIQUID IN STRINGS                            */
  /* -------------------------------------------- */
  --papyrus-liquid-string-delimiters: #888888;
  --papyrus-liquid-string-object-name: #81d4fa;
}

.token {
  /* -------------------------------------------- */
  /* MARKUP TOKENS                                */
  /* -------------------------------------------- */
  /* -------------------------------------------- */
  /* LIQUID TOKENS                                */
  /* -------------------------------------------- */
}
.token.markup, .token.liquid {
  color: var(--papyrus-liquid-fallback);
}
.token.markup {
  color: var(--papyrus-liquid-fallback);
}
.token.markup .token.comment {
  color: var(--papyrus-html-comment);
}
.token.markup .token.punctuation {
  color: var(--papyrus-html-delimiter);
}
.token.markup .token.tag {
  color: var(--papyrus-html-tag-name);
}
.token.markup .token.attr-equals {
  color: var(--papyrus-html-equals);
}
.token.markup .token.attr-name {
  color: var(--papyrus-html-attr-name);
}
.token.markup .token.attr-value {
  color: var(--papyrus-html-attr-value);
}
.token.liquid {
  color: var(--papyrus-liquid-fallback);
  /* LIQUID IN STRINGS -------------------------- */
}
.token.liquid .token.tag {
  color: var(--papyrus-liquid-tag);
}
.token.liquid .token.output {
  color: var(--papyrus-liquid-output);
}
.token.liquid .token.punctuation {
  color: var(--papyrus-liquid-punctuation);
}
.token.liquid .token.operator {
  color: var(--papyrus-liquid-operator);
}
.token.liquid .token.string {
  color: var(--papyrus-liquid-string);
}
.token.liquid .token.delimiters {
  color: var(--papyrus-liquid-delimiters);
}
.token.liquid .token.comment {
  color: var(--papyrus-liquid-comment);
}
.token.liquid .token.boolean {
  color: var(--papyrus-liquid-boolean);
}
.token.liquid .token.number {
  color: var(--papyrus-liquid-number);
}
.token.liquid .token.parameter {
  color: var(--papyrus-liquid-parameter);
}
.token.liquid .token.object {
  color: var(--papyrus-liquid-object-name);
}
.token.liquid .token.property {
  color: var(--papyrus-liquid-object-prop);
}
.token.liquid .token.filter {
  color: var(--papyrus-liquid-filter-name);
}
.token.liquid.liquid-string .token.object {
  color: var(--papyrus-liquid-string-object-name);
}
.token.liquid.liquid-string .token.delimiters {
  color: var(--papyrus-liquid-string-delimiters);
}

:root {
  --papyrus-js-fallback: #fafafa;
  --papyrus-js-keyword: #E91E63;
  --papyrus-js-function: #9EE34F;
  --papyrus-js-class-name: #9EE34F;
  --papyrus-js-function-name: #81D4FA;
  --papyrus-js-punctuation: #FAFAFA;
  --papyrus-js-special-chars: #E91E63;
  --papyrus-js-parameter: #FFAB40;
  --papyrus-js-variable: #81D4FA;
  --papyrus-js-operator: #E91E63;
  --papyrus-js-operation: #E91E63;
  --papyrus-js-module: #E91E63;
  --papyrus-js-semi: #fafafa;
  --papyrus-js-flow: #E91E63;
  --papyrus-js-number: #F48FB1;
  --papyrus-js-boolean: #F48FB1;
  --papyrus-js-string: #F5EC70;
  --papyrus-js-regex: #F5EC70;
  --papyrus-js-regex-flags: #E91E63;
  --papyrus-js-literal-property: #22c0cb;
  --papyrus-js-comment: #888888;
}

code.language-javascript,
code.language-js {
  color: var(--papyrus-ts-fallback);
}
code.language-javascript .token.keyword,
code.language-js .token.keyword {
  color: var(--papyrus-js-keyword);
}
code.language-javascript .token.punctuation,
code.language-js .token.punctuation {
  color: var(--papyrus-js-punctuation);
}
code.language-javascript .token.punctuation-chars,
code.language-js .token.punctuation-chars {
  color: var(--papyrus-js-special-chars);
}
code.language-javascript .token.comment,
code.language-js .token.comment {
  color: var(--papyrus-js-punctuation-comment);
}
code.language-javascript .token.parameter,
code.language-js .token.parameter {
  color: var(--papyrus-js-parameter);
}
code.language-javascript .token.variable,
code.language-js .token.variable {
  color: var(--papyrus-js-variable);
}
code.language-javascript .token.operator,
code.language-js .token.operator {
  color: var(--papyrus-js-operator);
}
code.language-javascript .token.operation,
code.language-js .token.operation {
  color: var(--papyrus-js-operation);
}
code.language-javascript .token.module,
code.language-js .token.module {
  color: var(--papyrus-js-module);
}
code.language-javascript .token.function,
code.language-js .token.function {
  color: var(--papyrus-js-function);
}
code.language-javascript .token.class-name,
code.language-js .token.class-name {
  color: var(--papyrus-js-class-name);
}
code.language-javascript .token.function-name,
code.language-js .token.function-name {
  color: var(--papyrus-js-function-name);
}
code.language-javascript .token.number,
code.language-js .token.number {
  color: var(--papyrus-js-number);
}
code.language-javascript .token.flow,
code.language-js .token.flow {
  color: var(--papyrus-js-flow);
}
code.language-javascript .token.string,
code.language-js .token.string {
  color: var(--papyrus-js-string);
}
code.language-javascript .token.semi,
code.language-js .token.semi {
  color: var(--papyrus-js-semi);
}
code.language-javascript .token.boolean,
code.language-js .token.boolean {
  color: var(--papyrus-js-boolean);
}
code.language-javascript .token.regex,
code.language-js .token.regex {
  color: var(--papyrus-js-regex);
}
code.language-javascript .token.regex-flags,
code.language-js .token.regex-flags {
  color: var(--papyrus-js-regex-flags);
}
code.language-javascript .token.literal-property,
code.language-js .token.literal-property {
  color: var(--papyrus-js-literal-property);
}

:root {
  --papyrus-ts-fallback: #fafafa;
  --papyrus-ts-types: #177fd4;
  --papyrus-ts-boolean: #ff80f4;
  --papyrus-ts-number: #935eff;
  --papyrus-ts-operator: #E91E63;
  --papyrus-ts-parameter: #ff953c;
  --papyrus-ts-method: #7ef0ff;
  --papyrus-ts-function-name: #9EE34F;
  --papyrus-ts-filter-name: #3defb9;
  --papyrus-ts-string: #FFF9A6;
  --papyrus-ts-comment: #888888;
}

code.language-typescript,
code.language-ts {
  color: var(--papyrus-ts-fallback);
}
code.language-typescript .token.parameter-type, code.language-typescript .token.return-type, code.language-typescript .token.semi,
code.language-ts .token.parameter-type,
code.language-ts .token.return-type,
code.language-ts .token.semi {
  color: var(--papyrus-ts-types);
}
code.language-typescript .token.punctuation,
code.language-ts .token.punctuation {
  color: var(--papyrus-ts-types);
}
code.language-typescript .token.comment,
code.language-ts .token.comment {
  color: var(--papyrus-ts-comment);
}
code.language-typescript .token.parameter-optional, code.language-typescript .token.parameter,
code.language-ts .token.parameter-optional,
code.language-ts .token.parameter {
  color: var(--papyrus-ts-parameter);
}
code.language-typescript .token.type-object, code.language-typescript .token.type-array,
code.language-ts .token.type-object,
code.language-ts .token.type-array {
  color: #30adc3;
}
code.language-typescript .token.types,
code.language-ts .token.types {
  color: var(--papyrus-ts-types);
}
code.language-typescript .token.method, code.language-typescript .token.keyword, code.language-typescript .token.browser-objects, code.language-typescript .token.variable,
code.language-ts .token.method,
code.language-ts .token.keyword,
code.language-ts .token.browser-objects,
code.language-ts .token.variable {
  color: var(--papyrus-ts-method);
}
code.language-typescript .token.op, code.language-typescript .token.tag, code.language-typescript .token.punctuation-chars, code.language-typescript .token.operator, code.language-typescript .token.module,
code.language-ts .token.op,
code.language-ts .token.tag,
code.language-ts .token.punctuation-chars,
code.language-ts .token.operator,
code.language-ts .token.module {
  color: var(--papyrus-ts-operator);
}
code.language-typescript .token.function,
code.language-ts .token.function {
  color: var(--papyrus-ts-function-name);
}
code.language-typescript .token.number,
code.language-ts .token.number {
  color: var(--papyrus-ts-number);
}
code.language-typescript .token.nil, code.language-typescript .token.boolean,
code.language-ts .token.nil,
code.language-ts .token.boolean {
  color: var(--papyrus-ts-boolean);
}

/* stylelint-disable color-hex-length */
:root {
  --papyrus-xml-prolog: #BECAFF;
  --papyrus-xml-name: #FF93BC;
  --papyrus-xml-prefix: #BECAFF;
}

.token.prolog {
  color: var(--papyrus-xml-prolog);
}
.token.name {
  color: var(--papyrus-xml-prefix-name);
}
.token.prefix {
  color: var(--papyrus-xml-prefix);
}

/* stylelint-disable color-hex-length */
:root {
  --papyrus-css-selector: #a5d447;
  --papyrus-css-tag-selector: #E91E63;
  --papyrus-css-function: #a5d447;
  --papyrus-css-variable: #b594d9;
  --papyrus-css-operator: #E91E63;
  --papyrus-css-punctuation: #fafafa;
  --papyrus-css-important: #E91E63;
  --papyrus-css-atrule: #E91E63;
  --papyrus-css-property: #81D4FA;
  --papyrus-css-property-value: #FFF9A6;
  --papyrus-css-number: #F48FB1;
  --papyrus-css-hexcode: #F48FB1;
  --papyrus-css-combinator: #E91E63;
  --papyrus-css-unit: #E91E63;
  --papyrus-css-attr-name: #a5d447;
  --papyrus-css-attr-value: #FFF9A6;
  --papyrus-css-attr-punctuation: #f4f4f4;
  --papyrus-css-pseudo-element: #e18d27 ;
}

code.css .token.selector {
  color: var(--papyrus-css-selector);
}
code.css .token.attribute .punctuation {
  color: var(--papyrus-css-attr-punctuation);
}
code.css .token.css-tag {
  color: var(--papyrus-css-tag-selector);
}
code.css .token.colon {
  color: var(--papyrus-css-operator);
}
code.css .token.css-attr-name {
  color: var(--papyrus-css-attr-name);
}
code.css .token.css-attr-value {
  color: var(--papyrus-css-attr-value);
}
code.css .token.inserted {
  color: var(--papyrus-css-inserted);
}
code.css .token.atrule {
  color: var(--papyrus-css-atrule);
}
code.css .token.important {
  color: var(--papyrus-css-important);
}
code.css .token.keyword {
  color: var(--papyrus-css-deleted);
}
code.css .token.punctuation {
  color: var(--papyrus-css-punctuation);
}
code.css .token.property {
  color: var(--papyrus-css-property);
}
code.css .token.property-value {
  color: var(--papyrus-css-property-value);
}
code.css .token.operator {
  color: var(--papyrus-css-operator);
}
code.css .token.combinator {
  color: var(--papyrus-css-combinator);
}
code.css .token.variable {
  color: var(--papyrus-css-variable);
}
code.css .token.number {
  color: var(--papyrus-css-number);
}
code.css .token.unit {
  color: var(--papyrus-css-unit);
}
code.css .token.hexcode {
  color: var(--papyrus-css-hexcode);
}
code.css .token.function {
  color: var(--papyrus-css-function);
}
code.css .token.pseudo-element {
  color: var(--papyrus-css-pseudo-element);
}

:root {
  --papyrus-json-punctuation: #fafafa;
  --papyrus-json-property: #81D4FA;
  --papyrus-json-string: #FFF9A6;
  --papyrus-json-boolean: #FF80F4;
  --papyrus-json-number: #978FFF;
  --papyrus-json-operator: #E91E63;
}

code.language-json .token.property {
  color: var(--papyrus-json-property);
}
code.language-json .token.operator {
  color: var(--papyrus-json-operator);
}
code.language-json .token.string {
  color: var(--papyrus-json-string);
}
code.language-json .token.number {
  color: var(--papyrus-json-number);
}
code.language-json .token.boolean {
  color: var(--papyrus-json-boolean);
}
code.language-json .token.punctuation {
  color: var(--papyrus-json-punctuation);
}

/*# sourceMappingURL=potion.css.map */
