/* stylelint-disable color-hex-length */


.language-markup,
.language-html {

  .token {

    &.doctype {


      &-tag {
        color: var(--papyrus-html-doctype);
      }

      .token.name {
        color: var(--papyrus-html-delimiter);
      }
    }

    &.name {
      color: var(--papyrus-html-tag-name);
    }

    &.comment {
      color: var(--papyrus-html-comment);
    }

    &.punctuation {
      color: var(--papyrus-html-delimiter);
    }

    &.tag {
      color: var(--papyrus-html-tag-name);
    }

    &.attr-equals {
      color: var(--papyrus-html-equals);
    }

    &.spx-attr-name {
      color: var(--papyrus-spx-attr-name);
    }

    &.attr-name {
      color: var(--papyrus-html-attr-name);

      > .spx-name {
        color: var(--papyrus-spx-attr-name);
      }

      > .at-window-notation,
      > .at-notation {

        > .prefix,
        > .window,
        > .spx-name {
          color: var(--papyrus-spx-attr-name);
        }

        > .window {
          color: var(--papyrus-spx-window);
        }

        > .symbol {
          color:var(--papyrus-spx-symbol);
        }

        > .suffix {
          color: var(--papyrus-spx-method);
        }
      }


      > .ns-notation {

        > .prefix,
        &.spx-name {
          color: var(--papyrus-spx-attr-name);
        }

        > .symbol {
          color: var(--papyrus-spx-symbol);
        }

        > .suffix {
          color: var(--papyrus-spx-suffix);
        }
      }
    }

    &.spx-attr {

      .attr-equals {
        color: var(--papyrus-html-equals);
      }

      .punctuation {
        color: var(--papyrus-html-attr-value);

        &.attr-equals {
          color: var(--papyrus-html-equals);
        }
      }

      .component-name {
        color: var(--papyrus-html-attr-value);
      }

      .separtor {
        color: var(--papyrus-spx-punctuation);
      }


      .event-key {
        color: var(--papyrus-spx-event-key);
      }

      > .bind-notation > .token {

        &.key {
          color:  var(--papyrus-spx-event-key);
        }

        &.dot {
          color: var(--papyrus-spx-punctuation);
        }

        &.val {
          color: var(--papyrus-spx-props);
        }

      }
      > .dot-notation > .token {

        &.key {
          color: var(--papyrus-spx-event-key);
        }

        &.dot {
          color: var(--papyrus-spx-punctuation);
        }

        &.val {
          color: var(--papyrus-html-attr-value);
        }

      }




      > .event-struct-on > .token,
      > .event-struct > .token {

        &.prop {
          color: var(--papyrus-spx-props);
        }

        &.comma {
          color: var(--papyrus-spx-punctuation);
        }

        &.delim {
          color: var(--papyrus-spx-delims);
        }

      }

    }

    &.attr-value {
      color: var(--papyrus-html-attr-value);

      > .token.punctuation:not(.attr-equals) {
        color: var(--papyrus-html-attr-value);
      }

      > .token {

        &.number,
        &.integer {
          color: var(--papyrus-spx-number);
        }

        &.boolean {
          color: var(--papyrus-spx-boolean);
        }

        &.script {

          > .token {

            &.keyword {
              color: var(--papyrus-js-keyword);
            }

            &.punctuation {
              color: var(--papyrus-spx-delims);
            }

            &.punctuation-chars {
              color: var(--papyrus-js-special-chars);
            }

            &.variable {
              color: var(--papyrus-js-variable);
            }

            &.object {
              color: var(--papyrus-js-object);
            }

            &.operator {
              color: var(--papyrus-js-operator);
            }

            &.operation {
              color: var(--papyrus-js-operation);
            }

            &.function-name {
              color: var(--papyrus-js-function-name);
            }

            &.number {
              color: var(--papyrus-spx-number);
            }

            &.literal-property,
            &.property {
              color: var(--papyrus-js-literal-property);
            }

            &.semi {
              color: var(--papyrus-js-semi);
            }

            &.boolean {
              color: var(--papyrus-spx-boolean);
            }
          }
        }
      }
    }
  }
}