/* stylelint-disable color-hex-length */


.language-markup,
.language-html,
.language-javascript .token.string,
.language-typescript .token.string {

  .token {

    &.doctype {

      &-tag {
        color: var(--papyrus-html-doctype);
      }

      .token.name {
        color: var(--papyrus-html-delimiter);
      }
    }

    &.name {
      color: var(--papyrus-html-tag-name);
    }

    &.comment {
      color: var(--papyrus-html-comment);
    }

    &.punctuation {
      color: var(--papyrus-html-delimiter);
    }

    &.tag {
      color: var(--papyrus-html-tag-name);
    }

    &.attr-equals {
      color: var(--papyrus-html-equals);
    }

    &.attr-name {
      color: var(--papyrus-html-attr-name);
    }

    &.spx-attr {

      .attr-equals {
        color: var(--papyrus-html-equals);
      }

      .punctuation {
        color: var(--papyrus-html-attr-value);

        &.attr-equals {
          color: var(--papyrus-html-equals);
        }
      }

    }

    &.attr-value {
      color: var(--papyrus-html-attr-value);

      > .token.punctuation:not(.attr-equals) {
        color: var(--papyrus-html-attr-value);
      }

      > .token {
        // script
        &.script > .token {
          &.keyword {
            color: var(--papyrus-js-keyword);
          }
          &.punctuation-chars {
            color: var(--papyrus-js-special-chars);
          }

          &.variable {
            color: var(--papyrus-js-variable);
          }

          &.object {
            color: var(--papyrus-js-object);
          }

          &.operator {
            color: var(--papyrus-js-operator);
          }

          &.operation {
            color: var(--papyrus-js-operation);
          }

          &.function-name {
            color: var(--papyrus-js-function-name);
          }

          &.literal-property,
          &.property {
            color: var(--papyrus-js-literal-property);
          }

          &.semi {
            color: var(--papyrus-js-semi);
          }
        }
      }
    }
  }
}