.language-javascript,
.language-js {
  color: var(--papyrus-js-fallback);

  .token {

    &.keyword {
      color: var(--papyrus-js-keyword);
    }

    &.punctuation {
      color: var(--papyrus-js-punctuation);
    }

    &.punctuation-chars {
      color: var(--papyrus-js-special-chars);
    }

    &.comment {
      color: var(--papyrus-js-comment);
    }

    &.parameter {
      color: var(--papyrus-js-parameter);
    }

    &.variable {
      color: var(--papyrus-js-variable);
    }

    &.object {
      color: var(--papyrus-js-object);
    }

    &.operator {
      color: var(--papyrus-js-operator);
    }

    &.operation {
      color: var(--papyrus-js-operation);
    }

    &.function {
      color: var(--papyrus-js-function);
    }

    &.class-name {
      color: var(--papyrus-js-class-name);
    }

    &.function-name {
      color: var(--papyrus-js-function-name);
    }

    &.number {
      color: var(--papyrus-js-number);
    }

    &.flow {
      color: var(--papyrus-js-flow);
    }

    &.semi {
      color: var(--papyrus-js-semi);
    }

    &.this {
      color: var(--papyrus-js-this);
    }

    &.import-type,
    &.module {
      color: var(--papyrus-js-module);
    }

    &.class {
      color: var(--papyrus-js-class);
    }

    &.boolean {
      color: var(--papyrus-js-boolean);
    }

    &.regex {
      color: var(--papyrus-js-regex);
    }

    &.regex-flags {
      color: var(--papyrus-js-regex-flags);
    }

    &.browser-objects {
      color: var(--papyrus-js-browser-objects);
    }

    &.literal-property,
    &.property {
      color: var(--papyrus-js-literal-property);
    }

    &.nil {
      color: #912bff;
    }

    &.string,
    &.string-property {
      color: var(--papyrus-js-string);
    }

    &.interpolation-punctuation {
      color: #26F9E7;
    }

    &.bracket > .punctuation {
      color: var(--papyrus-js-bracket);
    }

    &.bracket > .keyword {
      color: var(--papyrus-js-this);
    }

    &.paren-brace-open,
    &.paren-brace-close {
      color: var(--papyrus-ts-bracket);
    }

    // GRAMMAR FOR SIN

    &.sin {
      color: #B4769D;
      background: linear-gradient(to bottom, #D3EAFF 0%, #65B4FF 35%, #B4769D 50%, #F32933 65% , #FF9901 85%);
      background-clip: text;
      -webkit-text-fill-color: transparent;
    }

    &.template-sin {
      color: var(--papyrus-js-string);

      .template-punctuation {
        color: var(--papyrus-js-operator);
        font-weight: bolder;
      }

      .sin-tag {
        color: var(--papyrus-js-function);
      }

      .sin-css {

        .variable {
          color: var(--papyrus-css-sinvar)
        }
        .mixin {
          color: var(--papyrus-css-atrule)
        }
        .property {
          color: var(--papyrus-html-attr-name);
        }
        .number {
          color: var(--papyrus-css-number);
        }
        .hexcode{
          color: var(--papyrus-css-hexcode);
        }
        .unit{
          color: var(--papyrus-css-unit);
        }
      }


    }
  }
}
