/* stylelint-disable declaration-empty-line-before */
/* stylelint-disable declaration-block-no-redundant-longhand-properties */
/* stylelint-disable custom-property-pattern */
/* stylelint-disable color-function-notation */

%absolute {
  position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
  content: "";
}

%blur {
  background-color: rgba(var(--papyrus-code-bg), .6);
  backdrop-filter: blur(5px);
}

pre.papyrus,
pre.prism-code-editor{
  margin-top: 0;
  margin-bottom: 0;
  padding: 0;
  user-select: auto !important;
}

pre.papyrus:not(.prism-code-editor) {
  text-shadow: none;
  user-select: auto !important;
  &::selection {
    text-shadow: none;
    background-color: rgba(var(--papyrus-selection-bg), var(--papyrus-selection-alpha));
  }
}

pre.papyrus,
.prism-code-editor {
  --_pse: var(--padding-inline, 0.75em);
  --_ns: calc(var(--papyrus-line-number-width, 0.75em));
  --padding-left: var(--_pse);

  display: grid;
  overflow: auto;
  color: var(--papyrus-code-color);
  font-size: var(--papyrus-font-size);
  font-family: var(--papyrus-font-family);
  line-height: var(--papyrus-line-height);
  white-space: pre;
  word-wrap: normal;
  word-break: normal;
  word-spacing: normal;
  background-color: rgba(var(--papyrus-code-bg), 1);
  border: 0.01rem solid var(--papyrus-line-fence-color);
  border-radius: var(--papyrus-code-border-radius);
	isolation: isolate;
	user-select: none;
	scroll-padding-left: var(--padding-left);



  textarea {
    all: unset;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    padding: 0.5em var(--_pse) 0.5em calc(var(--padding-left) );
    overflow: hidden;
    color: transparent !important;
    background: transparent !important;
    border: none !important;
    outline: none !important;
    resize: none !important;
    user-select: auto;
    pointer-events: auto;
    caret-color: var(--papyrus-code-caret-color);
  }

  .pce-no-selection textarea:focus {
    z-index: 1;
  }


  /* -------------------------------------------- */
  /* OVERLAYS                                     */
  /* -------------------------------------------- */

  .overlays,
  .overlays > *,

  .pce-overlays,
  .pce-overlays > *,
  .pce-no-selection {
    @extend %absolute;
  }

  .overlays,
  .pce-overlays {
    display: grid;


    > .guide-indents > * {
      margin-top: 0.5em;
    }
  }

  &.line-fence .overlays::before {
      position: sticky;
      top: 0;
      left: 0;
      z-index: 3;
      width: fit-content;
      height: 100%;
      padding-left: calc(var(--padding-left));
      border-right: 0.01em solid var(--papyrus-line-fence-color);
      content: "";

      @extend %blur;
  }

  /* -------------------------------------------- */
  /* SELECTION                                    */
  /* -------------------------------------------- */

  .selection-matches span {
    background: var(--editor__bg-selection-match);
  }

  .pce-nowrap .active-bracket {
    display: inline-block;
  }


  /* -------------------------------------------- */
  /* WRAPPER                                      */
  /* -------------------------------------------- */

  > code:not(.pce-wrapper) {
    position: relative;
    margin: 0;
    padding: 0.75em 0;
    text-size-adjust: none;
  }

  > .pce-wrapper {
    position: relative;
    margin: 0;
    padding: 0.5em 0;
    pointer-events: none;
    text-size-adjust: none;
  }


  /* -------------------------------------------- */
  /* READONLY                                     */
  /* -------------------------------------------- */

  &.pce-readonly textarea {
    caret-color: transparent;
  }

  /* -------------------------------------------- */
  /* LINE NUMBER                                  */
  /* -------------------------------------------- */


  code > .line-no {
    position: relative;
    margin: 0 0 0 var(--padding-left);
    padding: 0 var(--_pse) 0 0;

    &:not(.line-no):hover {
      cursor: pointer;
      pointer-events: fill;
  }

    &::before {
      position: absolute;
      z-index: 3;
      display: inline-flex;
      justify-content: end;
      box-sizing: border-box;
      margin: 0 var(--_pse) 0 calc(-1 * calc(var(--padding-left)));
      padding: 0 calc(var(--_ns) / 1.5 ) 0 0;
      color: var(--papyrus-line-number-color);
      text-align: end;
      content: attr(data-line);
    }

  }

  .pce-line {
    position: relative;
    margin: 0 0 0 var(--padding-left);
    padding: 0 var(--_pse) 0 0;

    &:not(.line-no):hover {
      cursor: pointer;
      pointer-events: fill;
    }

    &::before {
      position: absolute;
      z-index: 3;
      display: inline-flex;
      justify-content: end;
      box-sizing: border-box;
      margin: 0 0 0 calc(-1 * calc(var(--padding-left)));
      padding: 0 calc(var(--_ns) / 1.5 ) 0 0;
      color: var(--papyrus-line-number-color);
      text-align: end;
      content: attr(data-line);
    }

    /* -------------------------------------------- */
    /* ACTIVE LINE                                  */
    /* -------------------------------------------- */

    &.active-line{

      &::before {
        z-index: 3;
        color: var(--papyrus-line-highlight-number);
      }

      &::after {
        @extend %absolute;

        background-color: rgba(
          var(--papyrus-line-highlight-bg),
          var(--papyrus-line-highlight-alpha)
        );
      }

      &.match-highlight::after {
        @extend %absolute;
      }
    }
  }

  /* -------------------------------------------- */
  /* SHOW LINE NUMBERS                            */
  /* -------------------------------------------- */


  &.show-line-numbers {
    --padding-left: calc(var(--_pse) + var(--number-width) + var(--_ns));
    grid: 1fr / 0 1fr;

    &::before {
     @extend %absolute;
    }
  }


  // for highlight only
  &.line-numbers {
    --padding-left: calc(var(--_pse) + var(--number-width, 2.001ch) + var(--_ns));
    grid: 1fr / 0 1fr;


    &::before {
     @extend %absolute;
    }
  }

  &.line-numbers::before,
  &.line-numbers .line-no::before,
  &.show-line-numbers::before,
  &.show-line-numbers .pce-line::before  {
    position: sticky;
    left: 0;
    width: calc(var(--padding-left) );
    height: 100%;
  }



  /* -------------------------------------------- */
  /* WRAP                                         */
  /* -------------------------------------------- */

  &.pce-wrap {
    white-space: pre-wrap;
    word-break: break-word;

    .pce-line::before {
      position: absolute;
    }
  }


  /* -------------------------------------------- */
  /* ERROR                                        */
  /* -------------------------------------------- */


  /* ERROR MESSAGE ------------------------------ */


  &.error {
    padding: calc(var(--papyrus-code-padding-x) * 3) !important;

    &::before {
      display: none !important;
    }

    .pce-wrapper {
      display: none !important;
    }
  }

  .error {
    z-index: 4;
    display: block;
    width: 100%;
    padding: 20px;
    font-size: x-small;
    text-wrap: wrap;
    background-color: rgba(var(--papyrus-code-bg));

    &-title,
    &-message,
    &-stack {
      display: block;
      color: #fff;
    }

    &-title {
      font-weight: 600;
    }

    &-message {
      margin-top: 20px;
      margin-bottom: 20px;
    }

    &-stack {
      margin-top: 20px;
      color: #808080;
    }

    &-heading {
      position: absolute;
      right: 0;
      bottom: 0;
      left: 0;
      display: block;
      width: 100%;
      margin-bottom: 0;
      padding: 5px;
      color: #fff;
      font-weight: 600;
      font-size: x-small;
      text-align: center;
      text-transform: uppercase;
      background-color: #f55968;
    }
  }

}
