/* stylelint-disable custom-property-pattern */
div.pce-rtl {
	direction: rtl;
	scroll-padding: 0 var(--padding-left) 0 0;
}

div.pce-rtl::before,
.pce-rtl .pce-line::before {
	right: 0;
	left: auto;
	background: none;
}

.pce-rtl textarea,
.pce-rtl .word-matches,
.pce-rtl .pce-matches,
.pce-rtl .selection-matches {
	padding: 0 var(--padding-left) 0 var(--_pse) !important;
}

.pce-rtl .guide-indents {
	right: var(--padding-left);
	left: auto !important;
	transform: scaleX(-1);
}

.pce-rtl .pce-copy::after {
	right: auto;
	left: calc(100% + 0.5em);
}

.pce-rtl.show-line-numbers .pce-line::before {
	margin: 0 calc(-1 * var(--padding-left)) 0 0;
	padding: 0 0 0 var(--_ns);
	background: var(--editor__bg);
}

.pce-rtl .pce-line {
  margin: 0 var(--padding-left) 0 0;
	padding: 0 0 0 var(--_pse);
}

.pce-rtl.pce-nowrap .pce-fold {
	right: calc(2px + var(--padding-left) - var(--_ns));
}

.pce-rtl .pce-fold {
	margin: 0 calc(2px - var(--_ns)) 0 0;
}

.pce-rtl .closed-fold > ::after {
	transform: translateY(-50%) rotate(90deg);
}

div.pce-rtl .active-bracket {
	display: inline;
}
