@media (hover: hover) {

	pre.papyrus,
	.prism-code-editor {

		&::-webkit-scrollbar {
			display: none;
			width: var(--papyrus-scrollbar-width);
			height: var(--papyrus-scrollbar-width);
		}


		&::-webkit-scrollbar-corner,
		&::-webkit-scrollbar-track {
			background: var(--papyrus-code-bg);
			border-radius: var(--papyrus-code-border-radius);
		}

		&::-webkit-scrollbar-thumb:vertical {
			border-top: var(--papyrus-scrollbar-padding) solid var(--papyrus-code-bg);
			border-bottom: var(--papyrus-scrollbar-padding) solid var(--papyrus-code-bg);
			border-top-right-radius: var(--papyrus-code-border-radius);
			border-bottom-right-radius: var(--papyrus-code-border-radius);
		}

		&::-webkit-scrollbar-thumb:horizontal {
			display: none;
			border-right: var(--papyrus-scrollbar-padding) solid var(--papyrus-code-bg);
			border-left: var(--papyrus-scrollbar-padding) solid var(--papyrus-code-bg);
			border-bottom-right-radius: var(--papyrus-code-border-radius);
			border-bottom-left-radius: var(--papyrus-code-border-radius);
		}

		&::-webkit-scrollbar-thumb {
			background: var(--papyrus-scrollbar-thumb);

			&:hover {
				background: var(--papyrus-scrollbar-thumb-hover);
			}
		}
	}
}

	// &::-webkit-scrollbar-corner {
	// 	background: transparent;
	// }
	// .prism-code-editor::-webkit-scrollbar-corner,
	// .prism-code-editor::-webkit-scrollbar-track {
	// 	background: #0000;
	// }
	// .prism-code-editor::-webkit-scrollbar {
	// 	width: 1em;
	// 	height: 1em;
	// }
	// .prism-code-editor::-webkit-scrollbar-thumb {
	// 	width: 2em;
	// 	height: 2em;
	// 	background: hsl(var(--editor__bg-scrollbar) 0.36);
	// }
	// .prism-code-editor::-webkit-scrollbar-thumb:hover {
	// 	background: hsl(var(--editor__bg-scrollbar) 0.5);
	// }
	// .prism-code-editor::-webkit-scrollbar-thumb:active {
	// 	background: hsl(var(--editor__bg-scrollbar) 0.66);
	// }
// }
