@import "../../docs/node_modules/@brixtol/bootstrap/sass/variables";

/* -------------------------------------------- */
/* LANGUAGES                                    */
/* -------------------------------------------- */

@import "liquid";
@import "html";


$papyrus-font-family: consolas, monaco, "Andale Mono", "Ubuntu Mono", monospace;
$papyrus-font-size: 1em;
$papyrus-line-height: 1.5;
$papyrus-code-bg: #181b20;
$papyrus-border-radius: 0.5em;

$papyrus-scrollbar-width: 2px;
$papyrus-scrollbar-track: $papyrus-code-bg;
$papyrus-scrollbar-bg: #384355;
$papyrus-scrollbar-thumb: #384355;


$sea: #177fd4;
$salmon: #ff8ab0;


code[class*="language-"],
pre[class*="language-"] {
  color: inherit;
  font-size: $papyrus-font-size;
  font-family: $papyrus-font-family;
  line-height: $papyrus-line-height;
  white-space: pre;
  text-align: left;
  word-wrap: normal;
  word-break: normal;
  word-spacing: normal;
  tab-size: 2;
  hyphens: none;
  background: none;
}

code[class*="language-"] {
  &::selection {
    text-shadow: none;
    background: $papyrus-code-bg;
  }
}

@media print {
  code[class*="language-"],
  pre[class*="language-"] {
    text-shadow: none;
  }
}

/* -------------------------------------------- */
/* BLOCKS                                       */
/* -------------------------------------------- */

pre[class*="language-"] {
  padding: 1em;

  // margin: 0.5em 0;
  overflow: auto;
  text-shadow: 0 0.04rem rgb(0 0 0);
  background: $papyrus-code-bg;
  border-radius: $papyrus-border-radius;


  &::-webkit-scrollbar-track {
    background-color: $papyrus-scrollbar-track;
  }

  &::-webkit-scrollbar {
    width: $papyrus-scrollbar-width;
    background-color: $papyrus-scrollbar-bg;
  }

  &::-webkit-scrollbar-thumb {
    background-color: $papyrus-scrollbar-thumb;
  }

  &::selection {
    text-shadow: none;
    background: $papyrus-code-bg;
  }
}

/* -------------------------------------------- */
/* INLINE                                       */
/* -------------------------------------------- */


:not(pre) > code[class*="language-"] {
  padding: 0.1em;
  white-space: normal;
  background: $papyrus-code-bg;
  border-radius: 0.3em;
}

/* -------------------------------------------- */
/* TOKENS                                       */
/* -------------------------------------------- */

.token.comment,
.token.prolog,
.token.doctype,
.token.cdata {
  color: slategray;
}

.token.punctuation {
  color: #999;
}

.token.namespace {
  opacity: 0.7;
}

.token.property,
.token.tag,
.token.boolean,
.token.number,
.token.constant,
.token.symbol,
.token.deleted {
  color: #905;
}

.token.selector,
.token.attr-name,
.token.string,
.token.char,
.token.builtin,
.token.inserted {
  color: #690;
}

.token.operator,
.token.entity,
.token.url,
.language-css .token.string,
.style .token.string {
  color: #9a6e3a;

  /* This background color was intended by the author of this theme. */
  background: hsl(0deg 0% 100% / 50%);
}

.token.atrule,
.token.attr-value,
.token.keyword {
  color: #07a;
}

.token.function,
.token.class-name {
  color: #dd4a68;
}

.token.regex,
.token.important,
.token.variable {
  color: #e90;
}

.token.important,
.token.bold {
  font-weight: bold;
}

.token.italic {
  font-style: italic;
}

.token.entity {
  cursor: help;
}

.token {

  /* -------------------------------------------- */
  /* INVISIBLES                                   */
  /* -------------------------------------------- */

  &.tab:not(:empty),
  &.cr,
  &.lf,
  &.space {
    position: relative;
  }

  &.tab:not(:empty)::before,
  &.cr::before,
  &.lf::before,
  &.space::before {
    position: absolute;
    color: #808080;
    opacity: 0.6;
  }

  &.tab:not(:empty)::before {
    content: "\21E5";
  }

  &.cr::before {
    content: "\240D";
  }

  &.crlf::before {
    content: "\240D\240A";
  }

  &.lf::before {
    content: "\240A";
  }

  &.space::before {
    content: "\00B7";
  }

}

// .language-bash {
//   color: $white;

//   .token {
//     &.punctuation {
//       color: $pink;
//     }

//     &.comment {
//       color: #636363;
//     }
//   }
// }

// .language-css .token.string,
// .style .token.string {
//   color: $yellow;
// }

// code.language-javascript,
// code.language-js {
//   color: $white;

//   .token {
//     &.parameter-type,
//     &.return-type,
//     &.semi {
//       color: $gray-300;
//     }

//     &.punctuation {
//       color: $gray-400;
//     }

//     &.comment {
//       color: $gray-600;
//     }

//     &.parameter-optional,
//     &.parameter {
//       color: $orange;
//     }

//     &.type-object,
//     &.type-array {
//       color: #30adc3;
//     }

//     &.types {
//       color: $sea;
//     }

//     &.method,
//     &.keyword,
//     &.browser-objects,
//     &.variable {
//       color: $cyan;
//     }

//     &.op,
//     &.tag,
//     &.punctuation-chars,
//     &.operator,
//     &.module {
//       color: $pink;
//     }

//     &.function {
//       color: $green;
//     }

//     &.number {
//       color: $salmon;
//     }

//     &.nil,
//     &.boolean {
//       color: $purple;
//     }

//     &.attr-name {
//       color: $green;
//     }

//     &.attr-value {
//       color: $yellow;
//     }

//     &.style {
//       color: $cyan;
//     }

//     &.script {
//       color: $cyan;

//       .token.keyword {
//         color: $cyan;
//       }
//     }
//   }
// }

// code.language-liquid,
// code.language-html {
//   color: $white;

//   .token.grammar {
//     color: $gray-300;
//   }

//   .token,
//   .token.grammar {
//     &.punctuation {
//       color: #becaff;
//     }

//     &.comment {
//       color: $gray-600;
//     }

//     &.tag {
//       color: #ff93bc;
//     }

//     &.attr-name {
//       color: #91ebc2;
//     }

//     &.attr-value {
//       color: $yellow;
//     }

//     &.style {
//       color: $cyan;
//     }

//     &.script {
//       color: $gray-200;

//       .token.function {
//         color: $cyan;
//       }

//       .token.keyword {
//         color: $cyan;
//       }
//     }

//     &.liquid {
//       &-comment {
//         color: $gray-600;
//       }

//       &-boolean {
//         color: #ff80f4;
//       }

//       &-number {
//         color: #935eff;
//       }

//       &-parameter {
//         color: #ff953c;
//       }

//       &-object {
//         color: #81d4fa;
//       }

//       &-filter {
//         color: #3defb9;
//       }

//       &-string {
//         color: $yellow;
//       }

//       // PINK
//       &-punctuation,
//       &-operator,
//       &-tagged,
//       &-tag {
//         color: $pink;
//       }
//     }
//   }
// }

// code.language-bash {
//   color: $white;
// }

// code.language-json {
//   .token {
//     &.property {
//       color: $white;
//     }

//     &.operator {
//       color: $red;
//     }
//   }
// }

// code.language-markup {
//   color: $gray-200;

//   .token {
//     &.tag {
//       color: $pink;
//     }

//     &.attr-name {
//       color: $green;
//     }

//     &.attr-value {
//       color: $yellow;
//     }

//     &.style {
//       color: $cyan;
//     }

//     &.script {
//       color: $cyan;

//       .token.function {
//         color: $cyan;
//       }

//       .token.keyword {
//         color: $cyan;
//       }
//     }
//   }
// }


code.no-invisibles {
  .token.tab:not(:empty)::before,
  .token.cr::before,
  .token.lf::before,
  .token.space::before {
    visibility: hidden;
  }
}

pre[class*="language-"].line-numbers {
  position: relative;
  padding-left: 3.8em;
  counter-reset: linenumber;

  > code {
    position: relative;
    white-space: inherit;
  }
}

.line-numbers {

  &-rows {
    position: absolute;
    top: 0;
    left: -3.8em;
    width: 3em; /* works for line-numbers below 1000 lines */
    font-size: 100%;
    letter-spacing: -1px;
    border-right: 0.01em solid #666;
    user-select: none;
    pointer-events: none;

    > span {
      display: block;
      counter-increment: linenumber;

      &::before {
        display: block;
        padding-right: 0.8em;
        color: #999;
        text-align: right;
        content: counter(linenumber);
      }
    }

  }
}

