:root {
  // FONT FAMILY
  // ------------------------------------------------------
  --papyrus-font-size-root: 15px;
  --papyrus-font-size: 1em;
  --papyrus-font-family: consolas, monaco, "Andale Mono", "Ubuntu Mono", monospace;
  --papyrus-line-height: 1.7;

  // EDITOR SIZING
  // ------------------------------------------------------
  --papyrus-height: auto;
  --papyrus-width: 100%;

  // SELECTION
  // ------------------------------------------------------
  --papyrus-selection-bg: 255, 255, 255;
  --papyrus-selection-alpha: 0.3;

  // CODE REGION
  // ------------------------------------------------------
  --papyrus-code-padding-y: 0.3em;
  --papyrus-code-padding-x: 0.5em;
  --papyrus-code-bg: #181b20;
  --papyrus-code-inline-bg: #eeebeb;
  --papyrus-code-border-radius: 0.5em;
  --papyrus-code-caret-color: #ffffff;

  // SCROLLBAR
  // ------------------------------------------------------
  --papyrus-scrollbar-width: 2px;
  --papyrus-scrollbar-track: #181b20;
  --papyrus-scrollbar-bg: #384355;
  --papyrus-scrollbar-thumb: #384355;

  // INVISIBLE CHARACTERS
  // ------------------------------------------------------
  --papyrus-invisible-space-color: #42454D;
  --papyrus-invisible-tab-color: #808080;
  --papyrus-invisible-lf-color: #808080;
  --papyrus-invisible-cr-color: #808080;
  --papyrus-invisible-crlf-color: #808080;

  // LINE NUMBERS
  // ------------------------------------------------------
  --papyrus-line-number-width: 3.3em;
  --papyrus-line-number-color: #363d49;
  --papyrus-line-fence-color: #363d49;
  --papyrus-line-fence-width: 0.01em;
  --papyrus-line-scroll-left: 0;

  // LINE HIGHLIGHT
  // ------------------------------------------------------
  --papyrus-line-highlight-alpha: 0.05;
  --papyrus-line-highlight-bg: 171, 190, 206;
  --papyrus-line-highlight-number: #fafafa;
}