<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ğ“ Papyrus - Usage
    </title>
    <link rel="stylesheet" href="{{'/style.css' | url }}">
    <link rel="stylesheet" href="{{'/potion.css' | url }}">
  </head>

  <body>

    <div class="container p-5">
      <div class="row jc-center">
        <div class="col-2">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            style="width: 150px; height: auto"
            fill="currentColor"
            viewBox="0 0 193 63"><path
              stroke-width="3"
              stroke="#fff"
              d="M13.0405 10.5c1.7388 0 2.6081.875 2.6081 2.625v21c0 1.75.8694 2.625 2.6082 2.625s2.6081-.875 2.6081-2.625V7.875c0-1.75-.8694-2.625-2.6081-2.625H7.82432c-1.73873 0-2.6081.875-2.6081 2.625v52.5c0 1.75-.86937 2.625-2.60811 2.625S0 62.125 0 60.375v-52.5C0 2.625 2.60811 0 7.82432 0H18.2568c5.2162 0 7.8243 2.625 7.8243 7.875v26.25c0 5.25-2.6081 7.875-7.8243 7.875s-7.8244-2.625-7.8244-7.875v-21c0-1.75.8694-2.625 2.6081-2.625zm44.3379 23.625c0 5.25-2.6081 7.875-7.8243 7.875H39.1216c-5.2162 0-7.8243-2.625-7.8243-7.875v-15.75c0-5.25 2.6081-7.875 7.8243-7.875s7.8243 2.625 7.8243 7.875V31.5c0 1.75-.8693 2.625-2.6081 2.625s-2.6081-.875-2.6081-2.625V18.375c0-1.75-.8693-2.625-2.6081-2.625s-2.6081.875-2.6081 2.625v15.75c0 1.75.8694 2.625 2.6081 2.625h10.4325c1.7387 0 2.6081-.875 2.6081-2.625V7.875c0-1.75-.8694-2.625-2.6081-2.625H33.9054c-1.7387 0-2.6081-.875-2.6081-2.625S32.1667 0 33.9054 0h15.6487c5.2162 0 7.8243 2.625 7.8243 7.875v26.25zM75.6351 10.5c1.7388 0 2.6081.875 2.6081 2.625v21c0 1.75.8694 2.625 2.6082 2.625s2.6081-.875 2.6081-2.625V7.875c0-1.75-.8694-2.625-2.6081-2.625H70.4189c-1.7387 0-2.6081.875-2.6081 2.625v52.5c0 1.75-.8694 2.625-2.6081 2.625s-2.6081-.875-2.6081-2.625v-52.5c0-5.25 2.6081-7.875 7.8243-7.875h10.4325c5.2162 0 7.8243 2.625 7.8243 7.875v26.25c0 5.25-2.6081 7.875-7.8243 7.875s-7.8244-2.625-7.8244-7.875v-21c0-1.75.8694-2.625 2.6081-2.625zm36.5139-5.25c-1.739 0-2.608.875-2.608 2.625v26.25c0 5.25-2.609 7.875-7.825 7.875s-7.8241-2.625-7.8241-7.875v-31.5C93.8919.875 94.7613 0 96.5 0s2.6081.875 2.6081 2.625v31.5c0 1.75.8694 2.625 2.6079 2.625s2.608-.875 2.608-2.625V7.875c0-5.25 2.608-7.875 7.825-7.875s7.824 2.625 7.824 7.875v52.5c0 1.75-.869 2.625-2.608 2.625s-2.608-.875-2.608-2.625v-52.5c0-1.75-.87-2.625-2.608-2.625zm13.04 2.625c0-5.25 2.608-7.875 7.825-7.875s7.824 2.625 7.824 7.875v7.875c0 1.75-.87 2.625-2.608 2.625s-2.608-.875-2.608-2.625V7.875c0-1.75-.87-2.625-2.608-2.625s-2.609.875-2.609 2.625v31.5c0 1.75-.869 2.625-2.608 2.625s-2.608-.875-2.608-2.625v-31.5zm39.122-2.625c-1.739 0-2.608.875-2.608 2.625v26.25c0 5.25-2.608 7.875-7.825 7.875s-7.824-2.625-7.824-7.875v-31.5c0-1.75.869-2.625 2.608-2.625s2.608.875 2.608 2.625v31.5c0 1.75.87 2.625 2.608 2.625s2.608-.875 2.608-2.625V7.875c0-5.25 2.609-7.875 7.825-7.875s7.824 2.625 7.824 7.875v31.5c0 1.75-.869 2.625-2.608 2.625s-2.608-.875-2.608-2.625v-31.5c0-1.75-.869-2.625-2.608-2.625zM193 34.125c0 5.25-2.608 7.875-7.824 7.875s-7.825-2.625-7.825-7.875v-10.5c0-1.75.87-2.625 2.608-2.625s2.609.875 2.609 2.625v10.5c0 1.75.869 2.625 2.608 2.625s2.608-.875 2.608-2.625v-15.75c0-1.75-.87-2.625-2.608-2.625-5.217 0-7.825-2.625-7.825-7.875S179.959 0 185.176 0h5.216C192.131 0 193 .875 193 2.625s-.835 2.625-2.504 2.625h-5.32c-1.739 0-2.608.875-2.608 2.625s.869 2.625 2.608 2.625c5.216 0 7.824 2.625 7.824 7.875v15.75z" /></svg>
          <ul class="mt-5">
            <li>Getting Started</li>
            <li>Mount</li>
            <li>Render</li>
            <li>Models</li>
          </ul>
        </div>
        <div class="col-9">
          {{ content }}
        </div>
      </div>
    </div>

  </body>

</html>