/* stylelint-disable scss/dollar-variable-colon-space-after */

/* -------------------------------------------- */
/* BASE STYLES                                  */
/* -------------------------------------------- */


/// Font Family
///
$papyrus-font-family:                   consolas, monaco, "Andale Mono", "Ubuntu Mono", monospace !default;
$papyrus-font-size-root:                15px !default;
$papyrus-font-size:                     1em !default;
$papyrus-line-height:                   1.6 !default;


// EDITOR SIZING
$papyrus-height:                        fit-content !default;
$papyrus-width:                         100% !default;

// SELECTION
$papyrus-selection-bg:                   255, 255, 255 !default;
$papyrus-selection-alpha:                0.3 !default;

// CODE REGION
$papyrus-code-padding-y:                 0.5em !default;
$papyrus-code-padding-x:                 0.5em !default;
$papyrus-code-border-radius:             0.5em !default;

$papyrus-code-bg:                       24, 27, 32 !default;
$papyrus-code-color:                    #fafafa !default;
$papyrus-code-inline-bg:                #eeebeb !default;
$papyrus-code-caret-color:              #fff !default;

// COMPLETIONS
$papyrus-complete-color:                 #fff !default;
$papyrus-complete-highlight-color:       #fff !default;
$papyrus-complete-highlight-bg:          #074472 !default;
$papyrus-complete-border-color:          #363d49 !default;
$papyrus-complete-icon-color:            #808080 !default;
$papyrus-complete-icon-active-color:     #fff !default;
$papyrus-complete-border-radius:             0.2em !default;
$papyrus-complete-border-width:             0.01em !default;
$papyrus-complete-font-size:                  .7em !default;
$papyrus-complete-dropdown-width:            250px !default;

// SCROLLBAR
$papyrus-scrollbar-width:                    4px !default;
$papyrus-scrollbar-padding:                  8px !default;
$papyrus-scrollbar-track:               #181b20 !default;
$papyrus-scrollbar-bg:                  #181b20 !default;
$papyrus-scrollbar-thumb:               #444b57 !default;
$papyrus-scrollbar-thumb-hover:         #5f6672 !default;

// INVISIBLE CHARACTERS
$papyrus-invisible-space-color:         #42454D !default;
$papyrus-invisible-tab-color:           #808080 !default;
$papyrus-invisible-lf-color:            #808080 !default;
$papyrus-invisible-cr-color:            #808080 !default;
$papyrus-invisible-crlf-color:          #808080 !default;

// LINE NUMBERS
$papyrus-line-number-width:                 2em !default;
$papyrus-line-number-color:              #363d49 !default;

// LINE NUMBER FENCE
$papyrus-line-fence-width:                 0.01em !default;
$papyrus-line-scroll-left:                      0 !default;
$papyrus-line-fence-color:              #363d49 !default;

// LINE HIGHLIGHT
$papyrus-line-highlight-alpha:                  0.05 !default;
$papyrus-line-highlight-bg:             171, 190, 206 !default;
$papyrus-line-highlight-number:             #fafafa !default;


/* -------------------------------------------- */
/* XML LANGUAGE                                 */
/* -------------------------------------------- */

$papyrus-xml-prolog:                      #BECAFF !default;
$papyrus-xml-name:                        #FF93BC !default;
$papyrus-xml-prefix:                      #BECAFF !default;
$papyrus-xml-delimiter:                   #BECAFF !default;
$papyrus-xml-tag-name:                    #FF93BC !default;
$papyrus-xml-equals:                      #FF93BC !default;
$papyrus-xml-attr-name:                   #91EBC2 !default;
$papyrus-xml-attr-value:                  #FFF9A6 !default;
$papyrus-xml-comment:                     #888 !default;

/* -------------------------------------------- */
/* HTML LANGUAGE                                */
/* -------------------------------------------- */

$papyrus-html-text-content:               #FAFAFA !default;
$papyrus-html-doctype:                    #FAFAFA !default;
$papyrus-html-delimiter:                  #BECAFF !default;
$papyrus-html-tag-name:                   #FF93BC !default;
$papyrus-html-equals:                     #FF93BC !default;
$papyrus-html-attr-name:                  #91EBC2 !default;
$papyrus-html-attr-value:                 #FFF9A6 !default;
$papyrus-html-comment:                    #888 !default;


/* -------------------------------------------- */
/* CSS LANGUAGE                                 */
/* -------------------------------------------- */

$papyrus-css-comment:                     #888 !default;
$papyrus-css-selector:                    #91ebc2 !default;
$papyrus-css-tag-selector:                #FF93BC !default;
$papyrus-css-colon:                       #e91e63 !default;
$papyrus-css-function:                    #a5d447 !default;
$papyrus-css-variable:                    #ca99ff !default;
$papyrus-css-operator:                    #FF93BC !default;
$papyrus-css-punctuation:                 #fafafa !default;
$papyrus-css-important:                   #E91E63 !default;
$papyrus-css-atrule:                      #E91E63 !default;
$papyrus-css-property:                    #81D4FA !default;
$papyrus-css-property-value:              #FFF9A6 !default;
$papyrus-css-string:                      #FFF9A6 !default;
$papyrus-css-number:                      #bc85ff !default;
$papyrus-css-sinvar:                     	#EFEFEF !default;
$papyrus-css-hexcode:                     #ff9494 !default;
$papyrus-css-combinator:                  #E91E63 !default;
$papyrus-css-unit:                        #E91E63 !default;
$papyrus-css-attr-name:                   #91EBC2 !default;
$papyrus-css-attr-value:                  #FFF9A6 !default;
$papyrus-css-attr-punctuation:            #FF93BC !default;
$papyrus-css-pseudo-element:              #e18d27 !default;

/* -------------------------------------------- */
/* YAML LANGUAGE                                */
/* -------------------------------------------- */

$papyrus-yaml-punctuation:                #E91E63 !default;
$papyrus-yaml-key:                        #FF93BC !default;
$papyrus-yaml-string:                     #FFF9A6 !default;
$papyrus-yaml-boolean:                    #FF80F4 !default;
$papyrus-yaml-number:                     #9753fd !default;
$papyrus-yaml-comment:                    #888 !default;


/* -------------------------------------------- */
/* TOML LANGUAGE                                */
/* -------------------------------------------- */

$papyrus-toml-punctuation:                #E91E63 !default;
$papyrus-toml-key:                        #FF93BC !default;
$papyrus-toml-string:                     #FFF9A6 !default;
$papyrus-toml-boolean:                    #FF80F4 !default;
$papyrus-toml-number:                     #9753fd !default;
$papyrus-toml-comment:                    #888 !default;
$papyrus-toml-table:                      #888 !default;

/* -------------------------------------------- */
/* JSON LANGUAGE                                */
/* -------------------------------------------- */

$papyrus-json-punctuation:                #fafafa !default;
$papyrus-json-property:                   #81D4FA !default;
$papyrus-json-quotes:                     #888 !default;
$papyrus-json-string:                     #FFF9A6 !default;
$papyrus-json-boolean:                    #FF80F4 !default;
$papyrus-json-number:                     #9753fd !default;
$papyrus-json-operator:                   #E91E63 !default;
$papyrus-json-comment:                    #888 !default;


/* -------------------------------------------- */
/* MARKDOWN LANGUAGE                            */
/* -------------------------------------------- */

$papyrus-md-punctuation:                #fafafa !default;
$papyrus-md-blockquote:                	#FF93BC !default;
$papyrus-md-title:                     	#91EBC2 !default;
$papyrus-md-string:                     #FFF9A6 !default;
$papyrus-md-boolean:                    #FF80F4 !default;
$papyrus-md-number:                     #9753fd !default;
$papyrus-md-operator:                   #E91E63 !default;
$papyrus-md-comment:                    #888 !default;

/* -------------------------------------------- */
/* JAVASCRIPT LANGUAGE                          */
/* -------------------------------------------- */

$papyrus-js-fallback:                     #fafafa !default;
$papyrus-js-keyword:                      #E91E63 !default;
$papyrus-js-function:                     #9EE34F !default;
$papyrus-js-class-name:                   #9EE34F !default;
$papyrus-js-function-name:                #81D4FA !default;;
$papyrus-js-punctuation:                  #FAFAFA !default;
$papyrus-js-special-chars:                #E91E63 !default;
$papyrus-js-parameter:                    #FFAB40 !default;
$papyrus-js-this:                         #FFAB40 !default;
$papyrus-js-variable:                     #81D4FA !default;
$papyrus-js-object:                       #8BD3FD !default;
$papyrus-js-operator:                     #E91E63 !default;
$papyrus-js-operation:                    #E91E63 !default;
$papyrus-js-module:                       #E91E63 !default;
$papyrus-js-class:                        #8BD3FD !default;
$papyrus-js-semi:                         #fafafa !default;
$papyrus-js-flow:                         #E91E63 !default;
$papyrus-js-number:                       #F48FB1 !default;
$papyrus-js-boolean:                      #F48FB1 !default;
$papyrus-js-string:                       #FFF9A6 !default;
$papyrus-js-regex:                        #FFF9A6 !default;
$papyrus-js-regex-flags:                  #E91E63 !default;
$papyrus-js-literal-property:             #22c0cb !default;
$papyrus-js-object-property:              #8BD3FD !default;
$papyrus-js-comment:                      #888 !default;
$papyrus-js-bracket:                      #8d6fb1 !default;
$papyrus-js-browser-objects:              #81D4FA !default;
$papyrus-js-type-constructor:             #81D4FA !default;

/* -------------------------------------------- */
/* TYPESCRIPT                                   */
/* -------------------------------------------- */

$papyrus-ts-fallback:                     #fafafa !default;
$papyrus-ts-semi:                         #fafafa !default;
$papyrus-ts-types:                        #8BD3FD !default;
$papyrus-ts-keyword:                      #E91E63 !default;
$papyrus-ts-function:                     #9EE34F !default;
$papyrus-ts-class-name:                   #81D4FA !default;
$papyrus-ts-function-name:                #81D4FA !default;
$papyrus-ts-punctuation:                  #FAFAFA !default;
$papyrus-ts-special-chars:                #E91E63 !default;
$papyrus-ts-parameter:                    #FFAB40 !default;
$papyrus-ts-this:                         #FFAB40 !default;
$papyrus-ts-variable:                     #81D4FA !default;
$papyrus-ts-object:                       #8BD3FD !default;
$papyrus-ts-constant:                     #8BD3FD !default;
$papyrus-ts-operator:                     #E91E63 !default;
$papyrus-ts-operation:                    #E91E63 !default;
$papyrus-ts-module:                       #E91E63 !default;
$papyrus-ts-class:                        #8BD3FD !default;
$papyrus-ts-semi:                         #fafafa !default;
$papyrus-ts-flow:                         #E91E63 !default;
$papyrus-ts-number:                       #F48FB1 !default;
$papyrus-ts-boolean:                      #F48FB1 !default;
$papyrus-ts-string:                       #FFF9A6 !default;
$papyrus-ts-regex:                        #FFF9A6 !default;
$papyrus-ts-regex-flags:                  #E91E63 !default;
$papyrus-ts-literal-property:             #FFAB40 !default;
$papyrus-ts-comment:                      #888 !default;
$papyrus-ts-bracket:                      #8d6fb1 !default;
$papyrus-ts-browser-objects:              #81D4FA !default;
$papyrus-ts-type-constructor:             #81D4FA !default;

/* -------------------------------------------- */
/* BASH                                         */
/* -------------------------------------------- */

$papyrus-bash-punctuation:                #888 !default;
$papyrus-bash-comment:                    #888 !default;
$papyrus-bash-target:                     #FFF9A6 !default;
$papyrus-bash-argument:                   #F48FB1 !default;
$papyrus-bash-title:                      #338ec8 !default;

/* -------------------------------------------- */
/* TREEVIEW                                     */
/* -------------------------------------------- */

$papyrus-treeview-line-width:                 0.05em !default;
$papyrus-treeview-line-color:                 #8a8a8a !default;
$papyrus-treeview-comment:                    #888888!default;
