/* stylelint-disable color-hex-length */
$papyrus-html-text-content: #FAFAFA;
$papyrus-html-delimiter: #BECAFF;
$papyrus-html-tag-name: #FF93BC;
$papyrus-html-equals: #FF93BC;
$papyrus-html-attr-name: #91EBC2;
$papyrus-html-attr-value: #FFF9A6;
$papyrus-html-comment: #888888;

code.language-html {
  color: $papyrus-html-text-content;

  .token {

    &.comment {
      color: $papyrus-html-comment;
    }

    &.punctuation {
      color: $papyrus-html-delimiter;
    }

    &.tag {
      color: $papyrus-html-tag-name;
    }

    &.attr-equals {
      color: $papyrus-html-equals;
    }

    &.attr-name {
      color: $papyrus-html-attr-name;
    }

    &.attr-value {
      color: $papyrus-html-attr-value
    }
  }
}