<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="utf-8">
    <meta
      http-equiv="x-ua-compatible"
      content="ie=edge">
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0">
    <title>
      ğ“ Papyrus - Usage
    </title>
    <link
      href="https://fonts.googleapis.com"
      rel="preconnect">
    <link
      href="https://fonts.gstatic.com"
      crossorigin
      rel="preconnect">
    <link
      href="https://fonts.googleapis.com/css2?family=JetBrains+Mono&display=swap"
      rel="stylesheet"
      spx-eval="false">
    <link
      rel="stylesheet"
      href="{{'/papyrus.css' | url }}">
    <link
      rel="stylesheet"
      href="{{'/style.css' | url }}">

    <script src="{{ '/usage.min.mjs' | url }}"></script>
  </head>

  <body>

    <div class="container mx-auto">
      <div class="row jc-center">
        <div class="col-auto pr-5 ml-5 br sidebar tr">
          <div class="sticky">
            {% include 'sidebar' %}
          </div>
        </div>
        <div class="col-9 content pl-5 pb-5">
          {{ content }}
        </div>
      </div>
    </div>

  </body>
</html>